[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fedjax = "*"
pylint = "==2.5.3"
astroid = "==2.5.0"
tensorflow = "==2.5.0"

[dev-packages]

[requires]
python_version = "3.8"

[pipenv]
allow_prereleases = true
